<html lang="es" ng-app="app">

<head>
    <title ng-bind="$state.current.data.pageTitle"></title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="app/css/base.css">
    <link rel="stylesheet" type="text/css" href="app/css/mini.css">
    <link rel="stylesheet" href="https://rawgit.com/enyo/dropzone/master/dist/dropzone.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="node_modules/leaflet/dist/leaflet.css">
    <link rel="stylesheet" href="bower_components/ngModal/dist/ng-modal.css">
    <link rel="shortcut icon" type="image/x-icon" href="app/img/p.ico" />
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://rawgit.com/enyo/dropzone/master/dist/dropzone.js"></script>
    <script src="app/lib/functions.js"></script>
    <!-- Node/Bower Modules -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcrKO_kCOVTdOoedb6U4a3tBqJWz5rCrY&libraries=places"></script>
    <script src="app/lib/lock-9.0.min.js"></script>
    <script src="node_modules/angular/angular.js"></script>
    <script src="node_modules/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="node_modules/auth0-angular/build/auth0-angular.js"></script>
    <script src="node_modules/angular-jwt/dist/angular-jwt.js"></script>
    <script src="node_modules/ng-file-upload/dist/ng-file-upload.min.js"></script>
    <script src="node_modules/leaflet/dist/leaflet.js"></script>
    <script src="node_modules/angular-leaflet-directive/dist/angular-leaflet-directive.min.js"></script>
    <script src="node_modules/leaflet-plugins/layer/tile/Bing.js"></script>
    <script src="node_modules/ngmap/build/scripts/ng-map.js"></script>
    <script src="bower_components/chart.js/dist/Chart.min.js"></script>
    <script src="bower_components/ngModal/dist/ng-modal.min.js"></script>
    <script src="bower_components/angular-chart.js/dist/angular-chart.min.js"></script>
    <!-- Application -->
    <script src="app/app.js"></script>
    <script src="app/common/common.js"></script>
    <script src="app/common/loading/loading.component.js"></script>
    <script src="app/common/loading/loading.interceptor.js"></script>
    <script src="app/controllers/controllers.module.js"></script>
    <script src="app/services/services.module.js"></script>
    <!-- Controllers -->
    <script src="app/controllers/collect-history.js"></script>
    <script src="app/controllers/current.js"></script>
    <script src="app/controllers/lot-details.js"></script>
    <script src="app/controllers/find.js"></script>
    <script src="app/controllers/get-map.js"></script>
    <script src="app/controllers/help.js"></script>
    <script src="app/controllers/lot-listing.js"></script>
    <script src="app/controllers/parent.js"></script>
    <script src="app/controllers/payment-history.js"></script>
    <script src="app/controllers/profile.js"></script>
    <script src="app/controllers/register-lot.js"></script>
    <script src="app/controllers/register-user.js"></script>
    <script src="app/controllers/register-vehicle.js"></script>
    <script src="app/controllers/reservation-listing.js"></script>
    <script src="app/controllers/successful-lot-registration.js"></script>
    <script src="app/controllers/successful-user-registration.js"></script>
    <script src="app/controllers/successful-vehicle-registration.js"></script>
    <script src="app/controllers/vehicle-listing.js"></script>
    <!-- Services -->
    <script src="app/services/amenity.js"></script>
    <script src="app/services/auth.js"></script>
    <script src="app/services/inject-css.js"></script>
    <script src="app/services/lot.js"></script>
    <script src="app/services/places.js"></script>
    <script src="app/services/reservation.js"></script>
    <script src="app/services/user.js"></script>
</head>

<body id="ui-vista" ng-class="$state.current.data.background" ng-controller="CurrentUserController as vm">
    <!-- Fixed position loading indicator -->
    <loading class="loading-indicator"></loading>
    <header>
        <div class="nav-cont">
            <div>
                <label id="hamburgerMenu" for="demo-toggle" class="button drawer-toggle persistent"></label>
                <img src="app/img/parkner-white-logo.png" id="logo">
            </div>
            <div class="top-right">
                <button class="btnHeader" id="login" ng-if="!vm.isAuthenticated()" ng-click="vm.login()">Login</button>
                <a ui-sref="register" ng-if="!vm.hasBeenRegistered()">
                    <button class="btnHeader" id="registrar" ng-if="!vm.isAuthenticated()" id='sign-up'>Registrate</button>
                </a>
            </div>
        </div>
    </header>
    <input type="checkbox" id="demo-toggle" ng-if="vm.isAuthenticated()">
    <nav id="menuLateral" class="drawer demo persistent">
        <label id="closed" class="close"></label>
        <a class="closeMenu" ui-sref="find()"><img src="app/img/search.png" class="menu-icon"> Busca un Espacio</a>
        <a class="closeMenu" ui-sref="auth.lot-registration.lot-registration-1()"><img src="app/img/garage.png"; class="menu-icon-2"> Registra un Espacio</a>
        <a class="closeMenu" ui-sref="auth.lot-listing()"><img src="app/img/garage.png" class="menu-icon-2"> Mis Espacios Registrados</a>
        <a class="closeMenu" ui-sref="auth.reservation-listing()"><img src="app/img/garage.png" class="menu-icon-2"> Mis Reservaciones</a>
        <a class="closeMenu" ui-sref="auth.register-vehicle()"><img src="app/img/car.png" class="menu-icon-3"> Registra un Vehículo</a>
        <a class="closeMenu" ui-sref="auth.vehicle-listing()"><img src="app/img/car.png" class="menu-icon-3"> Mis Vehículos</a>
        <a class="closeMenu" ui-sref="auth.payment-history()"><img src="app/img/documents.png" class="menu-icon";> Historial de Pagos</a>
        <a class="closeMenu" id="historialCobros" ui-sref="auth.collect-history()"><img src="app/img/documents.png" class="menu-icon"> Historial de Cobros</a>
        <br>
        <a class="closeMenu" ui-sref=""><img src="app/img/dollars.png" class="menu-icon-2"> Mis Medios de Pago</a>
        <a class="closeMenu" ui-sref="auth.profile()"><img src="app/img/profile.png" class="menu-icon"> Mi Perfil</a>
        <a class="closeMenu" ui-sref="help()"><img src="app/img/help.png" class="menu-icon"> Ayuda</a>
        <a class="closeMenu" ng-if="vm.isAuthenticated()" ng-click="vm.logout()"><img src="app/img/lock.png" class="menu-icon"> Logout</a>
    </nav>
    <div id="blur"></div>
    <div class="col-sm-12" ui-view></div>
</body>

<script type="text/javascript">
var p = $("nav:first");
var position = p.position();
$('body').click(function() {
    var position = p.position();
    if (position.left == 0) {
        $("#menuLateral").css({ left: -400 });
    }
});
</script>

<style>
/*Menu lateral*/
#user {
    max-height: 30px;
    max-width: 72px;
    font-size: 14px;
    padding: 0px;
    margin-bottom: 7px!important;
    border: none;
    background-color: transparent!important;
}

.option-user {
    background-color: #8d93c4!important;
}

#lblUsername {
    margin-right: 0px;
    font-size: 14px;
}

#userImage {
    border: 1px solid #102b95;
    position: absolute;
    right: 170px;
    top: 5px;
}

#historialCobros {
    margin-bottom: 15px;
}

h1 {
    color: #fff;
}

hr {
    background-color: #102b95;
    border-width: 0;
    color: #102b95;
    line-height: 0;
    text-align: left;
    width: 100%;
    margin-top: 5px!important;
}

.menu-icon {
    width: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

.menu-icon-2 {
    width: 25px;
    vertical-align: middle;
}

.menu-icon-3 {
    width: 34px;
    vertical-align: middle;
}

.drawer a {
    margin-top: 6%;
}

.closeMenu {
    margin-right: 0px;
    clear: right;
    float: right;
}

.btnHeader {
    border-width: 1;
    border-color: #102b95;
    color: #102b95
}

/*Menu lateral*/
.a0-image {
    background-image: url("app/img/parkner-logo-small.png");
    background-repeat: no-repeat center;
    background-position: center 25%;
    background-repeat: no-repeat;
    display: block;
}

img.a0-avatar-guest {
    visibility: hidden;
}

button.a0-primary.a0-next {
    visibility: hidden;
}

.a0-icon-badge {
    visibility: hidden;
}

.a0-primary .a0-next {
    background-color: #1340a6!important;
}

.a0-primary {
    background-color: #102b95!important;
}

#a0-lock.a0-theme-default .a0-panel .a0-all,
#a0-lock.a0-theme-default .a0-panel .a0-forgot-pass {
    font-size: 13px;
    margin-top: 20px;
    font-weight: 400;
    display: inline-block;
    color: rgba(19, 64, 166, 1);
    cursor: pointer;
}

#a0-lock.a0-theme-default .a0-panel .a0-instructions,
#a0-lock.a0-theme-default .a0-panel .a0-separator {
    color: rgba(19, 64, 166, 1);
    font-size: 13px;
    margin: 10px 0;
    line-height: 1.6;
}

#a0-lock.a0-theme-default .a0-panel .a0-email input,
#a0-lock.a0-theme-default .a0-panel .a0-password input,
#a0-lock.a0-theme-default .a0-panel .a0-repeatPassword input,
#a0-lock.a0-theme-default .a0-panel .a0-username input {
    background-color: #d8d8d8;
    border: 0;
    padding: 0 14px;
    right: 0;
    height: 40px;
    font-size: 13px;
    width: 100%;
    border-radius: 0 2px 2px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    color: rgba(19, 64, 166, 1);
}

.a0-body-content {
    margin-top: -30%;
}

#a0-lock.a0-theme-default .a0-switch span {
    visibility: hidden;
}

#a0-lock.a0-theme-default {
    visibility: visible!important;
}

.a0-switch {
    visibility: hidden!important;
}

.a0-body-content {
    margin-top: -20%;
}

@media screen and (max-width: 560px) {
    #userdiv {
        visibility: hidden;
    }

    #userImage {
        border: 1px solid #102b95;
        position: absolute;
        right: 10px;
        top: 5px;
    }
}

@media screen and (max-width: 325px) {
    .button.a0-primary {
        margin-top: 10%!important;
    }
}

@media screen and (max-width: 370px) {
    button.a0-primary {
        margin-top: 20%!important;
    }
}

@media screen and (max-width: 425px) {
    button.a0-primary {
        margin-top: 23%!important;
    }
    .nav-cont {
        text-align: center!important;
    }

    #hamburgerMenu {
        float: left;
    }
}

@media screen and (max-width: 321px) {
    button.a0-primary {
        margin-top: 8%!important;
    }
}
</style>

</html>