* {
    border: 0;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-size: 100% 100%!important;
    background-repeat: no-repeat!important;
}

header {
    background-color: #FFF;
    height: 40px!important;
}

a {
    cursor: pointer;
    cursor: hand;
}

select{
color: #102b95!important;
}

#content{
background-color: #fff;
height: 50%;
max-height: 50%;
padding: 20px;
border-radius: 5px;

}

.th_radius_start{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    background-color: #b4c3e5;
}

.th_radius_end{
    border-bottom-right-radius: 5px;
    border-top-Right-radius: 5px;
    background-color: #b4c3e5;
}

.th_radius_middle{
    background-color: #b4c3e5;
}

/*dependiendo de el numero de columnas de la tabla es la clase que debes usar*/
.table_column_width_1{
width: 100%;
}
.table_column_width_2{
width: 50%;
}
.table_column_width_3{
width: 33%;
}
.table_column_width_4{
width: 25%;
}
.table_column_width_5{
width: 20%;
}
.table_column_width_6{
width: 16.5%;
}

#lblUsername{
    color: #102b95!important;
}

#user{
margin-top: 10px;
}

#lblUsername{
   position: absolute; 
   top:6px;
   right: 90px;
}

#userImage{
 position: absolute; 
   top:10px!important;
}


#contenedor {
    width: 90%;
    margin: 0 auto;
}

.loading-indicator {
    display: block;
    width: 120px;
    position: fixed;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 40%;
    z-index: 100;
    /*background-color: transparent;*/
}

.loading-indicator img {
    width: 120px;
    /*background-color: transparent;*/
}

.top-right {
    position: absolute;
    top: 0px;
    right: 1%;
}

.row-scroll {
    max-height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}

#logo {
    width: 150px;
    content: url("../img/parkner-white-logo.png");
    vertical-align: middle;
    margin-top: 2px;
}

.btnHeader {
    border-width: 1!important;
    border-color: #102b95!important;
    color: #102b95!important;
}

.btnHeader:not(.nohover):hover {  
    border: 1px solid red; 
}



/*used in register lot 1 & 2*/

.flex-container-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.flex-container-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-start {
    justify-content: flex-start;
}

.header-container {
    background-color: red;
    align-items: center;
    display: flex;
    flex-basis: 100%;
    height: 10%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.menu-logo {
    padding: 0 0 0 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.border-radius {
    border-radius: 7px;
}

.width-100 {
    width: 100%;
}

#logo {
    width: 150px;
    content: url(../img/parkner-logo.png);
    margin-top: 2px;
}

#menu-icon {
    width: 20px;
    padding: 0 25px 0 10px;
}

.reg {
    padding: 0 15px 0 0;
}

.btnHeader {
    background: transparent;
    padding: 0 5px 0 5px;
    border: 2px solid #ffffff;
    border-radius: 5px;
    color: #ffffff;
    float: right;
}

#login {
    margin: 10px;
}

#inicia {
    width: 100%;
}

#registrar {
    margin-top: 10px;
    float: right;
    border-radius: 1px;
    padding: 0 5px 0 5px;
    border-radius: 5px;
    border-width: 1;
    border-color: #102b95;
    color: #102b95
}

.content {
    background-repeat: no-repeat;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/*buscador*/

#busca {
    background-image: url("../img/filter-white.png");
    background-size: 25px;
    background-color: transparent;
    background-position: right;
    background-repeat: no-repeat;
    border: 2px solid #ffffff;
    border-radius: 5px;
    color: #fff !important;
    width: 100%;
    height: 56px;
    -webkit-transition: all .3s ease-out;
}

#busca::-webkit-input-placeholder {
    color: #ffffff;
    font-size: 24px;
    padding-left: 3%;
    line-height: 100%;
}

#busca::-moz-placeholder {
    color: #ffffff;
    font-size: 24px;
    padding-left: 3%;
    line-height: 100%;
}

#busca::-ms-input-placeholder {
    color: #ffffff;
    font-size: 24px;
    padding-left: 3%;
    line-height: 100%;
}

#busca:focus {
    background: #ffffff;
    background-position: right;
    background-repeat: no-repeat;
    width: 100%;
    height: 56px;
    -webkit-box-shadow: 0px 5px 0px 1px rgba(0, 0, 0, 0.32);
    /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow: 0px 5px 0px 1px rgba(0, 0, 0, 0.32);
    /* Firefox 3.5 - 3.6 */
    box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.32);
    outline: #ff0000;
    color: #2154c6!important;
    background-image: url(../img/filter.png);
    background-size: 25px;
}

#busca:focus::-webkit-input-placeholder {
    /* Chrome */
    color: #1240a6;
    font-size: 24px;
    padding-left: 3%;
    line-height: 100%;
}

#busca:focus::-moz-input-placeholder {
    /* Chrome */
    color: #1240a6;
    font-size: 24px;
    padding-left: 3%;
    line-height: 100%;
}

#busca:focus::-ms-input-placeholder {
    /* Chrome */
    color: #1240a6;
    font-size: 24px;
    padding-left: 3%;
    line-height: 100%;
}

input::placeholder {
    color: #1340a6;
    ;
    margin: 0px;
}

.login {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    background: rgba(222, 222, 222, 1);
    background-image: linear-gradient(to bottom, #FFFFFF 0%, #F0F0F0 50%, #F0F0F0 75%, #FFFFFF 100%);
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 5%;
    width: 400px;
}

#closeform {
    width: 90%;
    padding: 5%;
    text-align: right;
}

.close-log {
    font-size: 8px;
    width: 10px;
    border-radius: 50%;
    background-color: lightblue;
    border: blue solid 1px;
}

#f-pass {
    font-size: 12px;
    color: #0066ff;
    padding: 5% 2% 0 10%;
}

#login-text {
    padding: 25px 0 0 10%;
    font-size: 25px;
    color: #1f58b7;
}

.login input {
    border: #a3a3a3 solid 1px;
    font-size: 15px;
    border-radius: 5px;
    background-color: #d3d3d3;
    color: #3d3939;
    width: 80%;
    padding: 15px 5px 15px 5px;
    margin-top: 15px;
}

.login-button {
    text-align: center;
    margin-top: 15px;
    border-radius: 5px;
    font-size: 15px;
    background-color: #1f3b9b!important;
    color: #fff!important;
    padding: 15px 0px 15px 0px;
    margin-left: 25%;
    margin-right: 15%;
    width: 50%;
    position: relative;
    top: 50%;
}

hr.separador {
    border-top: 3px solid #1f58b7;
    width: 100%;
    padding: 0;
    margin: 0;
}

.sm-log {
    margin: 0;
    width: 70%;
}

.sm-section {
    padding-top: 15px;
}

#fb-image {
    margin: 5px 5px 5px 5px;
    margin-left: 20%;
    width: 100%;
}

@media all and (max-width: 370px) {
    .nav-cont {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }
}

@media all and (max-height: 400px) {
    .login {
        flex-basis: 90%;
        height: 80%;
        display: flex;
        flex-direction: row;
        background: rgba(222, 222, 222, 1);
        background-image: linear-gradient(to bottom, #FFFFFF 0%, #F0F0F0 50%, #F0F0F0 75%, #FFFFFF 100%);
        border-radius: 5px;
    }
    .separador {
        display: none;
    }

}


/*Home*/

#selectable .ui-selecting {
    background: #FECA40;
}

#selectable .ui-selected {
    background: #F39814;
    color: white;
}

#selectable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60%;
}

#selectable li {
    margin: 1px;
    padding: 0.4em;
    font-size: .8em;
    height: 10px;
}

#o {
    text-align: center;
}


/*Menu lateral*/

.sidenav {
    margin-top: 0px;
    height: 100%;
    width: 0;
    position: absolute;
    z-index: 1;
    /* Stay on top */
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 10px;
    transition: 0.5s;
}


/* The navigation menu links */

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 1em;
    color: #818181;
    display: block;
    transition: 0.3s
}


/* When you mouse over the navigation links, change their color */

.sidenav a:hover,
.offcanvas a:focus {
    color: #f1f1f1;
}


/* Position and style the close button (top right corner) */

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}


/* Style page content - use this if you want to push the page content to the right when you open the side navigation */

#main {
    transition: margin-left .5s;
    padding: 20px;
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}


/*menu lateral*/

h3 {
    color: #1340a6;
}

.separador {
    width: 30px;
}

.bgColor {
    background-color: #ffffff!important;
}

.cars {
    background-image: url("../img/bg.png");
    position: relative!important;
    background-position: center!important;
    background-repeat: repeat!important;
    background-size: cover!important;
    height: 100%!important;
    width: 100%!important;
    z-index: -10;
}

.cityImage {
    background-image: url(../img/1.png);
    position: relative!important;
    background-position: center!important;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    height: 100%!important;
    width: 100%!important;
    z-index: -10
}

.blank {
    background-color: #bfbfbf;
}

.ng-binding {
    margin-right: 5%;
    margin-top: 0%;
}


/*REGISTRAR UN ESPACIO CSS*/

#signup-form {
    background-color: #ffffff;
    margin-left: 5%;
    margin-right: 5%;
    border: #fff;
    border-radius: 8px;
    margin-top: 2%;
}

#num {
    color: #101010;
    font-color: #a0a0a0;
}

.fotos {
    margin: 10px;
    max-width: 20%;
    border-radius: 5px;
    display: inline;
    display: inline-block;
    float: left;
    border-color: #a0a0a0;
    border-radius: 12px;
    border-style: solid;
    border-radius: 12px;
    border-color: #101010;
    border-width: 2px;
    border-color: #5a7ac1;
    border-style: solid;
}

#div-fotos {
    display: inline-block;
    float: left;
    width: 600px;
}

strong {
    margin-left: 5px;
    font-size: 1.4em;
}

.col-sm-12 .col-md {
    background-color: #ffffff;
}

#detalles {
    border: 0px;
    background: #fff;
}

.button-parkner {
    background: #102b95;
    color: #fff;
    float: right;
    width: 30%;
    margin-right: 8%;
    border-radius: 5px;
    margin-top: 4%;
    width: 150px;
}

.checkbox {
    float: left;
    width: 50%;
}

label {
    color: #1340a6;
}

#registra-espacio {
    background-color: #ffffff;
    height: 100%;
}

select {
    margin-left: -4%!important;
}

#wrapper {
    text-align: center;
    margin-top: 2%;
    width: 100%
}

#circle {
    width: 10px;
    height: 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    float: left;
    margin-left: 48%;
    margin-top: 2%;
}

.circle-gray {
    width: 10px;
    height: 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    float: left;
    margin-left: 2px;
    margin-top: 2%;
}

.circle-blue {
    width: 10px;
    height: 10px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    float: left;
    margin-left: 2px;
    margin-top: 2%;
    background-color: #102b95;
}

#extras {
    float: left;
    margin-left: 20px;
    margin-top: 20px;
    width: 200px;
}

#fotos-siguiente {
    border-radius: 2px;
    border-left: thick solid gray;
    border-width: 1px;
}

@media all and (max-width: 600px) {
    h1,h2,h3{font-size: 1.1em!important;}

#registrar {
    width: 60px;
    font-size: .5em;
    position: absolute;
    top: 0;
    right: 4%;
    margin-top: 5px;
}

#login {
    width: 60px;
    font-size: .5em;
    position: absolute;
    top: 10px;
    right: 4%;
    margin-right: 0px;
}

    #extras {
    margin-left: 0px;
    }

    .fotos {
    min-height: 70px;
    min-width: 70px!important;
    max-width: 70px!important;
    max-width: 70px!important; 
    float: left;
    width: 400px;

    }

    .nav-cont {
        text-align: center;
    }

    #hamburgerMenu {
        position: absolute;
        left: 0;
    }

    figure {
        float: left;
        margin-left: 20%;
        width: 800px;
    }

    .fotos {
        float: left;
        width: 400px;
    }

    #check1 {
        border: 1px solid #1e5180;
    }

    #div-fotos {
        display: inline-block;
        float: left;
        width: 200px;
    }

    #btnContinuar {
        margin-right: 10%;
        width: 50%;
    }

    #btnContinuar-step2 {
        margin-right: -12%;
        width: 0%;
    }

    #fotos-siguiente {
        border-radius: 0px;
        border-left: thick solid gray;
        border-width: 0px;
    }

    #signup-form {
    margin-left: -1%;}
}
