.fotos {
    min-width: 100%!important;
    height: 100%;
    margin: 0;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
     object-fit: cover;
}

#month1{
    margin-left: 5%;
    width: 30%;
}

#year{
    margin-left: 5%;
    width: 30%;
}

#date{
    float: right;
    margin-right: 0px;
    background-color: #ff0000;

}

     #rentarAhora{
        width: 20%;
     }


select {
    margin-left: 0%!important;
}

#carrousel {
    no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
     height: 43%;
     width: 100%;
 }

#step2-div {
    float: left;
}

.primary-button {
    height: 50px;
    float: Right;
}

.circle-blue {
    background-color: gray;
    margin-left: 48%;
}

.circle-gray {
    margin-left: 5px!important;
    background-color: #1340a6;
}

.message {
    color: #1340a6;
    font-size: 1.3em!important;
    text-align: center;
    font-style: italic;
}

.row {
    width: 100%;
    background-color: #fff;
    border-radius: 7px;
    padding:10px;
    width: 100%!important;
}

#input-duracion {
    width: 30%;
}

.txt-parkner {
    color: #1340a6;
}

#date {
    width: 80%;
    background-color: #fff;
    color: #1340a6;
    border-radius: 7px;
    border-width: 1px;
    border-style: solid;
    font-size: 1em;
}

#txt-subtitle {
    margin-top: 5%;
}

.selected {
    background-color: #1340a6!important;
    color: #fff;
}

.not-selected {
    width: 100%!important;
    background-color: #fff!important;
    color: #1340a6;
    border-radius: 7px;
    border-width: 1px;
    border-style: solid;
}

#detalles-form {
    background-color: #1340a6;
    margin-top: 2%;
    height: 8%;
    border-radius: 7px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}

#h3-w {
    margin: .1rem 1rem;
    font-size: 1.5em;
    color: #fff;
    padding-top: 10px;
}

h5 {
    color: #1340a6;
}

#title {
    height: 10%;
}

.btn-right:focus {
    background-color: white;
}

.btn-left:focus {
    background-color: white;
}

.btn-right:not(.nohover):hover {
    background-color: white;
    border-radius: 7px;
    border-width: 1px;
    border-style: solid;
}

.btn-left:not(.nohover):hover {
    background-color: white;
    border-radius: 7px;
    border-width: 1px;
    border-style: solid;
}

#div-general {
    width: 80%;
    margin-left: 10%;
}

/*Animacion de entrada*/
.row {
    position: relative;
    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s; /* Safari 4.0 - 8.0 */
  /*  -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */*/
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: 1;
}
/* Standard syntax */
@keyframes example {
    0%   { left:1000px; top:0px;}
    100% { left:0px; top:0px;}
}

@media all and (max-width: 980px) {
     #rentarAhora{
        width: 90%;
     }

    #busca {
        width: 100%;
    }

    input {
        width: 30%!important;
    }
    h5 {
        font-size: .7em;
    }
    button {
        border-radius: 7px;
        height: 40px;
        font-size: 1em;
        width: 90%;
    }
    #btnRentar {
        width: 95%;
        margin-left: 75%;
        float: right;
    }
    #div-general {
        width: 100%;
        margin-left: 0%;
    }
    .btn-left {
        width: 35%;
        white-space: normal;
        word-wrap: break-word;
        font-size: .7em;
    }
    .btn-right {
        width: 50%;
        white-space: normal;
        word-wrap: break-word;
        font-size: .7em;
    }
    #btnRentarAhora {
        width: 100%!important;
    }
    #carrousel {
        height: 30%;
    }
    .message {
        color: #1340a6;
        font-size: 1em!important;
        text-align: center;
        font-style: italic;
    }
}

@media all and (min-width: 50px) {
    .txt-parkner {
        color: #1340a6;
        font-size: .8em;
    }
}


@media all and (max-width: 700px) {
.column-rango-r{
width: 100%;
margin-top: 5%;
}

   #date{
    margin-top: 10%;
    width: 100%;
    margin: auto;

     }

}