input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.modal{
    background-color: #fff;
    border-radius: 7px;
    padding: 10px;
    text-align: center;
    height: 75px;
    width: 300px;
    margin: auto;
    margin-top: 10%;
}

#description{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    width: 50%;
    background-color: #b4c3e5;
}

#activo{
    border-bottom-right-radius: 5px;
    border-top-Right-radius: 5px;
    width: 50%;
    background-color: #b4c3e5;
}


.txt-title{
    margin-top:3%;
    margin-bottom:3%;
    color: rgb(255, 255, 255)!important;
}
#table-lot-l{
    background:#fff;
    border-radius:7px;
    width: 100%;
}


table {
    border: 0px;
    border: none!important;

}

#table-card {
    width: 97%!important;
}

.container {
    border-radius: 7px;
    height: 100%;
}

.row-scroll {
    max-height: 100%;
    overflow: scroll;
    overflow-x: hidden;
}
.row-scroll{
    height: 100%;
}


.card {
    display: inline-block;
    width: 100%!important;
    border-radius: 7px;
}

td {
    text-decoration: #000000;
    border-right-style: hidden;
    border: none!important;
    border-bottom: dashed;
    border-color: #ffffff;
    text-align: center;
}

h1 {
    color: rgb(255, 255, 255)!important;
}

#clm1 {
    width: 31%;
}

#clm2 {
    width: 27%;
}

#clm3 {
    width: 26%;
}

#clm4 {
    width: 31%;
}
#clm5 {
    width: 100%;
}

@media all and (max-width: 800px) {
    table:not(.preset) td {
        display: block;
        border: 0;
        border-bottom: 1px solid #c9c9c9;
        text-align: left;
        width: 90%;
        background-color: #fff; 
        border-radius: 5px;
    }

        table:not(.preset) tr {
            border-radius: 5px;
            background-color: #fff;
    }

    
    #clm1 {
        width: 100%;
    }
    #clm2 {
        width: 100%;
    }
    #clm3 {
        width: 100%;
    }
    #clm4 {
        width: 100%;
    }
#clm5 {
    width: 80%!important;
}

    #table-card {
        width: 87%!important;
    }
}
