p {
    width: 105%;
    margin-left: -1%;
}

  #title{
    color: #1542ab!important;
  }

.btnHeader {
    border-width: 1!important;
    border-color: #1542ab!important;
    color: #1542ab!important;
}

.texto-sup {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 1.5em;
    color: #1542ab;
    text-align: justify;
    margin-bottom: 5%;
    text-align: center;
}

.texto {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 25px;
    color: #1542ab;
    margin-bottom: 5%;
}

#contenido {
    margin-left: -2%;
}

#success {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    padding-top: 25px;
    background-color: #fff!important;
    text-align: center;
    padding-bottom: 100px;
    color: #1542ab;
}

#img-succesfull {
    margin-left: 46%;
    width: 8%;
    margin-top: 2%
}

#title {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2em;
    color: #fff;
    text-align: center;
    font-size: 30px;
    margin-left: -.2%;
}

#title-blue {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2em;
    color: #1542ab;
    text-align: center;
}


/*Animacion de entrada*/

#container {
    position: relative;
    -webkit-animation-name: example;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 2s;
    /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 2s;
    animation-iteration-count: 1;
    background-color: #fff;
    border-radius: 7px;
    width: 40%;
    height: 35%;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}


/* Standard syntax */

@keyframes example {
    0% {
        left: 1000px;
        top: 0px;
    }
    100% {
        left: 0px;
        top: 0px;
    }
}

@media all and (max-width: 370px) {
    #title-blue {
        font-size: 1.7em;
    }
    #img-succesfull {
        margin-left: 35%;
        width: 30%;
    }
}


@media all and (max-width: 1020px) {
  #container{
    width: 80%;
  }

   #title-blue {
        font-size: 1em;
    }


}
