<style>
header {
  display: block;
  height: 2.75rem;
  background: rgba(17, 17, 24, 0);
  color: #1340a6;
  padding: 0.125rem 0.5rem;
  white-space: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0)!important;
}

header button,
header [type="button"],
header a.button,
header label.button,
header .button,
header a[role="button"],
header label[role="button"],
header [role="button"] {
  background-color: rgba(255, 255, 255, 0)!important;
  color: #1340a6;
  vertical-align: top;
  margin: 0.125rem 0;
}

.no-blur {
  background-image: url(app/img/1.png);
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  -webkit-filter: blur(0px)!important;
  -moz-filter: blur(0px)!important;
  -o-filter: blur(0px);
  -ms-filter: blur(0px);
  filter: blur(0px);
}

.blur {
  background-image: url(app/img/1.png);
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0px;
  top: -0px;
  z-index: -1;
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
<div ng-class="{blur: focused}"></div>
<center>
  <input ng-init="focused = false" ng-focus="focused = true" ng-blur="focused = false" type="text" placeholder="Busca un espacio" id="busca" places-auto-complete size=80 component-restrictions="{country:'pe'}" types="{{types}}" on-place-changed="vm.placeChanged()" />
</center>