<div id="contenedor">
  <h1 class="txt-title">Mis Espacios</h1>
  <div class="modal" ng-show="!vm.hasLots">
    <p>¡Aún no tienes espacios! <a ui-sref="auth.lot-registration.lot-registration-1()">Registra un espacio/vehiculo</a></p>
  </div>
  <div id="content" ng-show="vm.hasLots">
    <div class="row-scroll" ng-show="vm.hasLots">
      <table id="table-lot-l">
        <thead>
          <tr>
            <th id="description">Descripción</th>
            <th id="activo">¿Activo?</th>
          </tr>
        </thead>
        <tr ng-repeat="lot in vm.lots">
          <td data-label="Description:&nbsp;">
            {{lot.description}}
          </td>
          <td data-label="Description:&nbsp;">
            {{lot.active}}
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>