<div id="profile">
  <div id="user-inf">
    <div id="header-info" class="col-sm-10 col-sm-offset-0">
      <img id="userImg" ng-src="{{vm.userPicture}}" alt="Foto de perfil" />
      <h3 id="txt-username">{{vm.username}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 col-md-6">
      <div class="box-colored info">
        <h3>{{vm.numeroComentarios}} Comentarios</h3>
        <img id="friendImg" ng-src="{{vm.userPicture}}" alt="Foto de perfil" />
        <b id="txt-friend-name">{{vm.friendName}}</b>
        <br>
        <p id="fechaCommentFriend">{{vm.fechaComment}}</p>
        <br>
        <p id="friend-comment">{{vm.friendComment}}</p>
        <h5>Ver todos los comentarios</h5>
      </div>
      <div class="box-colored info">
        <h3 id="txt-ocupacion">Ocupación</h3>
        <p>{{vm.ocupacion}}</p>
      </div>
      <div class="box-colored info">
        <h3>Información verificada</h3>
        <p>{{vm.informacionVerificada}}</p>
      </div>
      <div class="box-colored info">
        <h3>Miembro desde:</h3>
        <p>{{vm.fecha}}</p>
      </div>
    </div>
    <div class="col-sm-6 info">
      <div id="about-me" class="box-colored">
        <h3>Sobre mi</h3>
        <p id="about-me">{{vm.aboutMe}}</p>
      </div>
      <div class="box-colored" id="box-calificaciones">
        <h3 id="mis-calificaciones">Mis Calificaciones</h3>
        <div class="item html">
          <h2 class="title-graph">4.95</h2>
          <canvas id="pieUsuario" class="chart chart-pie" chart-data="vm.dataUsuario" chart-labels="vm.labels" chart-options="options">
          </canvas>
          <h3 id="txtProveedor">Usuario</h3>
        </div>
        <div class="item html">
          <h2 class="title-graph">4.95</h2>
          <canvas id="pieUsuario" class="chart chart-pie" chart-data="vm.dataUsuario" chart-labels="vm.labels" chart-options="options">
          </canvas>
          <h3 id="txtProveedor">Proveedor</h3>
        </div>
      </div>
      <input id="btnEditProfile" type="button" class="primary" value="Editar Perfil">
    </div>
  </div>
</div>