<div class="row" class="col-sm-12 col-md-5 col-lg-7">
  <div ng-show="vm.status == 200" class="alert alert-danger">
    <div id="show-result" class="row col-sm-12 ">
      <div class="card fluid">
        <div class="section">
          <h3>{{vm.msg}}</h3>
        </div>
      </div>
    </div>
  </div>
</div>
<div>
  <form id="form-register" name="userForm" ng-submit="vm.register(user)" novalidate ng-hide="vm.status == 200">
    <h3>Registro</h3>
    <div class="input-group fluid error-d">
      <input class="input-width-100" type="email" name="email" ng-model="user.email" required placeholder="Correo Electrónico">
      <p class="txt-error-large input-width-100" ng-show="userForm.email.$invalid && !userForm.email.$pristine">Ingrese un correo electrónico valido</p>
    </div>
    <div class="input-group fluid error-d">
      <input class="input-register input-width-100" type="password" name="password" ng-model="user.password" required placeholder="Contraseña" ng-minlength="5">
      <p class="txt-error-large" ng-show="userForm.password.$invalid && !userForm.password.$pristine">Ingrese su contraseña</p>
      <div>
        <p class="txt-error-large" ng-show="userForm.password.minlength && !userForm.password.$pristine" class="help-block">La contraseña debe ser mayor a 5 caracteres</p>
      </div>
    </div>
    <div class="input-group fluid error-d">
      <input id="input-nombre" class="error-d input-form input-width " type="text" name="firstName" ng-model="user.firstName" required placeholder="Nombres">
      <input id="input-apellido" class="error-d input-width left-1-percent" type="text" name="lastName" ng-model="user.lastName" required placeholder="Apellidos">
      <div>
        <p class="txt-error" ng-show="userForm.firstName.$invalid && !userForm.firstName.$pristine">Ingrese sus nombres</p>
        <p class="txt-error-right " ng-show="userForm.lastName.$invalid && !userForm.lastName.$pristine">Ingrese sus apellidos</p>
      </div>
    </div>
    <div id="div-registrate" class="input-group fluid">
      <button id="btn-registrate" type="submit" class="login-button" ng-disabled="userForm.$invalid">Regístrate</button>
      <div ng-show="vm.error" class="width-100 alert-danger">
        <p class="txt-error-large">{{vm.error}}</p>
      </div>
    </div>
  </form>
</div>