<div id="white-background">
  <div class="flex-container-column">
    <h2>Dirección</h2>
    <div class="flex-container-column">
      <div class="row">
        <div class="col-sm-12 ">
          <input type="text" id="addr" name="addr" ng-model="vm.form.addr" places-auto-complete size=80 component-restrictions="{country:'pe'}" on-place-changed="vm.placeChanged()" required>
          <p class="txt-error-left" ng-show="lotForm.addr.$invalid && !lotForm.addr.$pristine">Ingrese la Direccion</p>
        </div>
      </div>
    </div>
    <br>
    <hr>
    <div class="flex-container-row">
      <div id="detalles-extras" class="flex-container-column">
        <div id="cb" class="input-group">
          <h2>Comodidades</h2>
          <div id="extras">
            <input type="button" class="btn-filtrar" id="roof" value="Techado" ng-model="vm.form.roof" ng-click="vm.addAmenitie($event, vm.form.roof = !vm.form.roof)" ng-class="vm.form.roof ? 'selected' : 'not-selected'">
          </div>
          <div id="extras">
            <input type="button" class="btn-filtrar" id="cam" value="Camaras" ng-model="vm.form.cam" ng-click="vm.addAmenitie($event, vm.form.cam = !vm.form.cam)" ng-class="vm.form.cam ? 'selected' : 'not-selected'">
          </div>
          <div id="extras">
            <input type="button" class="btn-filtrar" id="key" value="Llave" ng-model="vm.form.key" ng-click="vm.addAmenitie($event, vm.form.key = !vm.form.key)" ng-class="vm.form.key ? 'selected' : 'not-selected'">
          </div>
          <div id="extras">
            <input type="button" class="btn-filtrar" id="guardian" value="Seguridad" ng-model="vm.form.guardian" ng-click="vm.addAmenitie($event, vm.form.guardian = !vm.form.guardian)" ng-class="vm.form.guardian ? 'selected' : 'not-selected'">
          </div>
          <div id="extras">
            <input type="button" class="btn-filtrar" id="carWash" value="Lavado de Auto" ng-model="vm.form.carWash" ng-click="vm.addAmenitie($event, vm.form.carWash = !vm.form.carWash)" ng-class="vm.form.carWash ? 'selected' : 'not-selected'">
          </div>
          <div id="extras">
            <input type="button" class="btn-filtrar" id="access" value="24 Horas" ng-model="vm.form.access" ng-click="vm.addAmenitie($event, vm.form.access = !vm.form.access)" ng-class="vm.form.access ? 'selected' : 'not-selected'">
          </div>
        </div>
      </div>
      <div id="fotos-siguiente" class="flex-container-column">
        <div>
          <h2>Fotos</h2>
        </div>
        <div id="div-fotos">
          <!-- ng-file-upload  -->
          <!-- Upload right away after file selection -->
          <div ng-repeat="imageUrl in vm.images track by $index">
            <img ngf-select="vm.upload($file)" ngf-select-disabled="vm.ARR_LIMIT == 4" class="fotos" border="5" ng-src="{{imageUrl}}" />
          </div>
          <a ui-sref="auth.lot-registration.lot-registration-2">
            <button class="button-parkner " ng-disabled="lotForm.$invalid">Continuar</button>
          </a>
        </div>
        <br>
      </div>
    </div>
    <div id="wrapper">
      <div class="circle-blue"></div>
      <div class="circle-gray"></div>
    </div>
  </div>
</div>