<div id="contenedor">
  <h1 class="txt-title">Mis Reservaciones</h1>
  <div class="modal" ng-show="!vm.hasReservations">
    <p>¡Aún no tienes espacios reservados! <a ui-sref="find()">Reserva un espacio</a></p>
  </div>
  <div id="content" ng-show="vm.hasReservations">
    <div class="row-scroll" ng-show="vm.hasReservations">
      <table id="table-lot-l">
        <thead>
          <tr>
            <th class="table_column_width_3 th_radius_start">Descripción</th>
            <th class="table_column_width_3 th_radius_middle">¿Activo?</th>
            <th class="table_column_width_3 th_radius_end">Costo</th>
          </tr>
        </thead>
        <tr ng-repeat="reservation in vm.reservations">
          <td data-label="Description">
            {{reservation.description}}
          </td>
          <td data-label="Active:&nbsp;">
            {{reservation.active}}
          </td>
          <td data-label="Cost:&nbsp;">
            {{reservation.totalCost}}
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>